body {
  margin: 0;
  overflow: hidden;
  background: #404040;
  background: linear-gradient(
    90deg,
    rgba(64, 64, 64, 1) 0%,
    rgba(94, 94, 94, 1) 72%,
    rgba(176, 176, 176, 1) 100%
  );
}
canvas {
  display: block;
}
